<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Quiz Application </h1>
    <p> Answer the following questions </p>
    <form action="/submit" method="post">
        <% for (let i = 0; i < questions.length; i++) { %>
            <h3><%= questions[i].question %></h3>

            <% for (let j = 0; j < questions[i].options.length; j++) { %>
                <input type="radio" name="q<%= i + 1 %>" value="<%= questions[i].options[j].answer %>">
                <%= questions[i].options[j].text %><br>
            <% } %>
        <% } %>

        <input type="submit" value="Submit">
    </form>
</body>
</html>