<!DOCTYPE html>
<html>
<head>
    <title>Quiz Application - Results</title>
</head>
<body>
    <h1>Quiz Application - Results</h1>
    <p>Here are the results:</p>

    <p>You scored <%= score %> out of <%= total %> questions.</p>
</body>
</html>
