<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Node JS | Simple Todo List  </title>
    <link rel="stylesheet" href="/projects.css" type="text/css">
   
</head>
<body>
    <h1> Project 2: Simple Todo List App</h1>
    <ul>
        <% 
        tasks.forEach((task,index)=>{ %>
            <li> <%= task %> </li>
            <!-- These links are to route us to the template where we have the forms -->
            <a href="/todolist/edit/<%= index %>">Edit Post </a><nbsp></nbsp> <!-- Eventually we can have .../edit/2/-->
            <a href="/todolist/delete/<%= index %>">Delete Post </a> 

       <% })
        %>
    </ul>
    <form action="/add" method="POST">
        <input type="text" name="task" placeholder="Enter your task here " />
        <br/>
        <button type="submit"> Add Task </button>

    </form>
</body>
</html>